.head {
    color: aqua;
}

.title {
    color: aqua;
}

.main {
    margin-top: 3rem !important;
}

.fab {
    margin: 30px;
}

li {
    padding-bottom: 10px !important;
}

.reveal h2 {
    margin-top: -1em !important;
}